* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --super-light-gray: #e9e9e9;
  --light-gray: #cacaca;
  --raisin-black: #231f20;
  --light-blue-green: #008e9c;
  --dark-blue-green: #003340;
  --med-blue-gray: #3c4046;
  --golden: #ff8922;

  --border-radius: 2px;
}

body {
  background: var(--super-light-gray);
  color: var(--raisin-black);
}

body, input, select, textarea, i, .book-notes {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  line-height: 1;
}

textarea {
  line-height: 1.5;
}

select {
  padding: .5rem;
  font-size: 1.25rem;
}

header {
  display: block;
  position: fixed;
  background: linear-gradient(-90deg, var(--light-blue-green), var(--dark-blue-green));
  color: var(--white);
  width: 100%;
  border-bottom: 1px solid var(--light-blue-green);
  padding: 1rem;
  top: 0;
  transform: translate3d(0, 0, 11px);
  z-index: 11;
}

.header__inner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header__inner-wrapper, .book-list {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .header__inner-wrapper {
    padding: 0 .5rem;
  }
}

.header__inner-wrapper .left-wrapper, .header__inner-wrapper .right-wrapper {
  display: inline-block;
}

.header__inner-wrapper .right-wrapper {
  margin-left: auto;
  padding-top: .2rem;
}

.search-form {
  display: inline-block;
  position: relative;
  background: var(--white);
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
  max-width: 250px;
}

.search-input {
  display: inline-block;
  width: 85%;
  border: none;
  padding: .25rem 1.5rem .25rem .5rem;
}

.search-clear-btn {
  position: absolute;
  background: var(--white);
  border: none;
  font-size: 1.25rem;
  line-height: .8;
  padding: .25rem .35rem;
  cursor: pointer;
  right: -2rem;
  transition: all ease-in-out .25s;
}

.search-input:focus ~.search-clear-btn, .search-input:active ~.search-clear-btn, .search-clear-btn:focus, .search-clear-btn:focus {
  right: 0;
}

.library-info-row {
  display: block;
  width: 100%;
  grid-column: 1/3;
  margin-top: .5rem;
  text-align: right;
}

.library-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
}

.page-title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  vertical-align: middle;
}

.btn {
  display: inline-block;
  background: var(--dark-blue-green);
  color: var(--white);
  padding: .5rem .75rem;
  border: 1px solid var(--light-blue-green);
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.btn:hover {
  background: var(--light-blue-green);
  border-color: var(--dark-blue-green);
}

.btn.alt {
  background: var(--white);
  color: var(--dark-blue-green);
}

.btn.alt:hover {
  background: var(--dark-blue-green);
  color: var(--white);
  border-color: var(--light-blue-green);
}

.btn.round {
  border-radius: 50%;
}

/* ===== START -- SAVE NEW BOOK FORM ===== */
.new-book-form-toggle {
  display: inline-block;
  position: fixed;
  right: 1rem;
  bottom: 1.5rem;
  padding: .5rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  line-height: 0;
  transform: translate3d(0, 0, 10px);
  z-index: 10;
}

.new-book-form-toggle:hover  {
  transform: scale(1.1);
}

.add-new-book-form {
  overflow: hidden;  
  transition: all ease-in-out .2s;
  position: fixed;
  left: -100%;
  height: 100%;
  background: var(--med-blue-gray);
  color: white;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  margin: 0;
  padding: 3rem;
  width: 100%;
  min-width: 320px;
  max-width: 420px;
  transform-origin: top;
  transform: translate3d(0, 0, 10px);
  z-index: 10;
}

.add-new-book-form.expanded {
  left: 0;
  overflow: scroll;
  padding-bottom: 10rem;
}

.close-new-book-btn {
  display: block;
  position: absolute;
  font-size: 1.75rem;
  padding: .25rem .6rem;
  top: 1.125rem;
  right: .9rem;
  line-height: 1;
}

.form-element-wrapper {
 display: block;
 margin-bottom: 1rem;
 width: 100%;
}

.form-element-wrapper label {
  display: block;
  margin-bottom: .5rem;
}

.form-element-wrapper input, .form-element-wrapper textarea {
  width: 100%;
}

.form-element-wrapper input[type="text"], .form-element-wrapper input[type="number"], .form-element-wrapper textarea {
  font-size: 1.25rem;
  padding: .5rem;
}

.form-element-wrapper textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 8rem;
}

.form-element-wrapper:first-of-type {
  padding-top: 0;
}

.form-element-wrapper:last-of-type {
  margin-bottom: 0;
}

.form-element-wrapper.radio-element * {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

.radio-input-text {
  display: inline-block;
  width: auto;
}

/* ===== END -- SAVE NEW BOOK FORM ===== */

main {
  display: block;
  position: relative;
  margin: 5.25rem auto 0;
  padding: .75rem 1rem 5rem;
}

.invisible-btn {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  transform: translate3d(0, 0, 3px);
  z-index: 3;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ===== CARDS ===== */

.card {
  display: -moz-inline-grid;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-template-columns: 60% 40%;
  column-gap: normal;
  grid-template-rows: 2.75rem;
  grid-auto-rows: auto;
  background: var(--white);
  border: 1px solid var(--raisin-black);
  border-radius: var(--border-radius);
  margin: .5rem 0;
  padding: 1rem 1.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.25;
}

@media screen and (min-width: 800px) {
  .card:nth-child(odd) {
    margin-right: .5rem;
  }
  .card:nth-child(even) {
    margin-left: .5rem;
  }
}

@media screen and (min-width: 1200px) {
  .card:nth-child(even), .card:nth-child(odd) {
    margin: .5rem;
  }
}

.card__inner-wrapper__left {
  grid-row: 1/3;
}

.card__inner-wrapper__right {
  margin-left: 1rem;
}

.card-section {
  display: block;
  margin-bottom: 1rem;
}

.card__inner-wrapper__left .card-section:first-of-type {
  margin-top: .5rem;
}

/* .card-section:last-of-type {
  margin-bottom: 0;
} */

.card-section-title {
  display: block;
  color: var(--dark-blue-green);
  margin-bottom: .25rem;
  font-size: 1rem;
  font-weight: 400;
}

.toggle-wrapper {
  font-size: 1rem;
  overflow: hidden;
}

.toggle-option__left, .toggle-body, .toggle-dot, .toggle-option__right {
  display: inline-block;
  cursor: pointer;
}

.toggle-body {
  position: relative;
  border: 1px solid var(--dark-blue-green);
  border-radius: 2rem;
  width: 2.125rem;
  height: 1.125rem;
  margin: 0 .5rem;
  vertical-align: text-top;
}

.toggle-dot {
  position: relative;
  background: var(--dark-blue-green);
  border: 1px solid var(--dark-blue-green);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  transition: all ease-in-out .5s;
}

.toggle-wrapper.alt .toggle-body {
  border-color: var(--white);
}

.toggle-wrapper.alt .toggle-dot {
  background: var(--white);
  border-color: var(--white);
}

.toggle__hidden-checkbox {
  display: none;
}

.toggle__hidden-checkbox:checked + .toggle-wrapper .toggle-dot {
  left: 1rem;
}

.card .toggle-wrapper {
  max-width: 7rem;
}

.card .rating-star {
  cursor: pointer;
}

.card .rating-star.solid {
  color: var(--golden);
}

.card .rating-star:hover, .card .rating-star:focus {
  transform: scale(1.3);
}

.clear-rating-btn {
  opacity: .5;
  cursor: pointer;
}

.rating-star__wrapper:hover .clear-rating-btn, .rating-star:focus ~ .clear-rating-btn, .clear-rating-btn:focus {
  opacity: 1;
}

.card .card-notes__wrapper {
  grid-column: 1/3;
}

.card .book-notes {
  margin-top: .5rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: pre-wrap;
}

.card__image-wrapper {
  display: block;
  margin-bottom: 1rem;
}

.book-img {
  display: block;
  border: 1px solid var(--light-gray);
  width: 100%;
  text-align: center;
}

.img-placeholder {
  display: block;
  color: var(--light-gray);
  font-size: 52px;
  padding: 48% 0 52%;
}

.card-btns__wrapper {
  margin-left: auto;
  grid-column: 2 / 3;
}

.save-btn, .edit-btn, .delete-btn {
  border-radius: var(--border-radius);
  width: 20px;
  font-size: 1.5rem;
  /* padding: .25rem; */
  text-align: center;
  vertical-align: middle;
  opacity: .5;
  transition: all ease-in-out .2s;
}

.edit-btn, .delete-btn {
  margin-left: .25rem;
}

.edit-btn:hover, .delete-btn:hover {
  color: var(--dark-blue-green);
  opacity: 1;
  cursor: pointer;
}

/* ===== UTILITY CLASSES ===== */
.block {
  display: block;
}
.text-align--right {
  text-align: right;
}
.full-width {
  width: 100%;
}
.no-focus:focus, .no-focus:active, .no-focus:hover {
  outline: none;
}
.hidden {
  display: none;
}